# Ignore Maven output folder.
/target/

# Ignore Eclipse project files.
/.classpath
/.project
/.settings/

# Ignore IntelliJ project files
.idea
*.iml

# Ignore Mainzelliste context descriptor and configuration files, as these
# contain user-defined or even confidential content.
/WebContent/META-INF/context.xml
/config/*.conf

# Ignore docker-compose.override.yml
docker-compose.override.yml