<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %c - %m%n"/>
      <!-- Target SYSTEM_OUT -->
    </layout>
  </appender>
  <appender name="RollingFile" class="org.apache.log4j.rolling.RollingFileAppender">
    <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      <param name="FileNamePattern" value="/var/log/%d{yyyy-MM}/%d{yyyy-MM-dd}-mainzelliste.log"/>
    </rollingPolicy>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %c - %m%n"/>
    </layout>
  </appender>
  <root>
    <level value="debug"/>
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4j:configuration>
