body {
  margin: auto;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 90%;
}
p {
/* 	text-indent: 1em; */
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(0,60,118);
}
h1, h3 {
  text-align: center;
  color: rgb(0,60,118);
}
h1 {
  padding-bottom: 0.5em;
}

p.buttons {
  text-align: center;
}

.header_left {
  text-align: left;
  text-indent: 1em;
}
.blauer_text {
  color: rgb(0,60,118);
}

.kopfzeile {
  min-height: 3em;
   max-width: 70em;
  margin: auto;
  padding-top: 2em;
}
.logo {
  height: 6em;
   max-width: 70em;
  margin: auto;
}
.inhalt {
   max-width: 70em;
  margin: auto;
  padding: 1em;
  background-color: rgb(229,235,241);
}
.patienten_daten {
   max-width: 50em;
   margin: auto;
}
.submit_anlegen {
  color: rgb(0,60,118);
}
.kontakt_daten {
  font-size:0.9em;
  text-align:center;
  background-color: rgb(255,255,255);
  padding-top: 0.8em;
}
.hinweisen_liste {
  list-style-type:square;
  color: rgb(175, 30, 45);
   max-width: 60em;
}
.daten_tabelle {
  margin: auto;
  color: rgb(0,60,118);
}
.geburtstag, .geburtsmonat, .geburtsjahr {
  color: rgb(0,60,118);
}

.mandatory {
  color: red;
}

.id {
  font-family:'Lucida Console', monospace;
}
